{% extends "base.html" %}
{% block content %}
  <section id="content">
    <h1>Archives</h1>

    <table>
      <thead>
      <tr>
        <th>Published</th>
        <th>Article</th>
        <th>Category</th>
      </tr>
      </thead>
      <tbody>
      {% for article in dates %}
        <tr>
          <td>{{ article.date|strftime('%d/%m/%Y') }}</td>
          <td><a href="{{ SITEURL }}/{{ article.url }}"
              hx-get="{{ SITEURL }}/{{ article.url }}"
              x-trigger="click"
              hx-target="#body"
              hx-swap="innerHTML"
              hx-push-url="true"
              >{{ article.title }}</a></td>
          <td><a href="{{ SITEURL }}/{{ article.category.url }}"
              hx-get="{{ SITEURL }}/{{ article.category.url }}"
              x-trigger="click"
              hx-target="#body"
              hx-swap="innerHTML"
              hx-push-url="true"
              >{{ article.category }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </section>
{% endblock %}
